// --------------------
// Definition of variables
$primary: #32c3ff;
$secondary: rgb(44, 204, 156);

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 21, 21);
  font-family: 'Roboto', sans-serif;
}

// .info {
//   margin: 20px;
//   padding: 10px 20px;
//   border-radius: 10px;
//   display: inline-block;
//   background-color: #5776e9;
//   color: white;
// }

.Logo {
  padding-left: 30px;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}

// --------------------
// Style for App component
// .App {
//   // text-align: center;
// }


.App-header {
  background-color: rgb(5, 5, 5);
  color: $secondary;
  display: flex;
  justify-content: space-between;

  a {
    color: $secondary;
    padding: 0 8px;
    text-decoration: unset;
  }

  a:hover {
    color: rgb(206, 206, 206)
  }

  a.active {
    font-weight: bold;
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
    font-style: none;
  }
}

// .App-title {
//   font-size: 1.5em;
// }

.App-intro {
  font-size: large;
}

.App-info {
  padding-top: 15px;
  padding-right: 30px;
}


// --------------------
// Style for Home component
.Home {
  background-image: url('./images/restaurant.png');
  background-size: cover;
  background-position: center top;
  height: 100vh;
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: $secondary;
  display: inline-block;
  margin-bottom: 10px;
  // text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid $secondary;
  height: 40px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #3995d6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.Party-code {
  padding-top: 50px;
  color: white;
  text-align: center;
}

#form h2 {
  color: $secondary;
  text-align: center;
}

.new-receipt-btn {
  height: 30px;
  width: 125px;
  border: none;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: $secondary;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: rgb(5, 5, 5)
}

.new-receipt-btn:hover {
  background-color: rgb(206, 206, 206);
}

.form-receipt {
  margin: 20px 30px 15px 30px;
  width: 300px;
}

.form-receipt label {
  color: $secondary;
  display: inline-block;
  margin-bottom: 10px;
  // text-align: center;
  width: 100%;
}

.form-receipt input,
.form-receipt button {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid $secondary;
  height: 40px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.form-receipt button {
  background: $secondary;
  border: 2px solid $secondary;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

.form-receipt button:hover {
  background: #fff;
  color: $secondary;
  transition: .3s ease background;
}

.receipt-results {
  margin-left: 30px;
  margin-bottom: 30px;
}