// --------------------
// Definition of variables
$primary: #20b3f1;
$secondary: rgb(240, 238, 238);
$third: rgb(29, 29, 29);
$fourth: rgb(0, 127, 188);
// rgb(44, 204, 156)
// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
  font-family: 'Roboto', sans-serif;
}

// .info {
//   margin: 20px;
//   padding: 10px 20px;
//   border-radius: 10px;
//   display: inline-block;
//   background-color: #5776e9;
//   color: white;
// }

.Logo {
  padding-left: 30px;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}



.App-header {
  background-color: rgb(0, 127, 188);
  color: $secondary;
  display: flex;
  justify-content: space-between;

  a {
    color: $secondary;
    padding: 0 8px;
    text-decoration: unset;
  }

  a:hover {
    color: rgb(185, 181, 181)
  }

  a.active {
    font-weight: bold;
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
    font-style: none;
  }
}

// .App-title {
//   font-size: 1.5em;
// }

.App-intro {
  font-size: large;
}

.App-info {
  padding-top: 15px;
  padding-right: 30px;
}


// --------------------
// Style for Home component
.Home {
  background-image: url('./images/restaurant.png');
  background-size: cover;
  background-position: center top;
  height: 100vh;
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component


#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: $third;
  display: inline-block;
  margin-bottom: 10px;
  // text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid $fourth;
  height: 40px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #3995d6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.Party-code {
  padding-top: 50px;
  color: white;
  text-align: center;
}

#form h2 {
  color: $secondary;
  text-align: center;
}

.new-receipt-btn {
  height: 30px;
  width: 125px;
  border: none;
  padding: 6px 14px;
  border: 1px solid rgb(226, 226, 226);
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(33, 167, 33);
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: rgb(226, 226, 226)
}

.new-receipt-btn:hover {
  background-color: rgb(206, 206, 206);
}

.form-receipt {
  margin: 20px 30px 15px 30px;
  width: 300px;
}

.form-receipt label {
  color: $fourth;
  display: inline-block;
  margin-bottom: 10px;
  // text-align: center;
  width: 100%;
}

.form-receipt input,
.form-receipt button {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid $secondary;
  height: 40px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.form-receipt button {
  background: rgb(33, 167, 33);
  border: 2px solid $secondary;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

.form-receipt button:hover {
  background: #fff;
  color: rgb(33, 167, 33);
  border: 2px solid rgb(33, 167, 33);
  transition: .3s ease background;
}

.receipt-results {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.receipt-results button {
  margin-top: 15px;
}

.items-chart {
  width: 350px
}

label#edit-receipt {
  margin-bottom: 0.1rem;;
}

.items-chart input {
  width: 43%;
  color: rgb(14, 13, 13);
  font-family: 'Roboto', sans-serif;
  border: 1px solid $secondary;
  margin: 5px;
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  font-size: 15px;
}

#submit-btn {
  background: rgb(33, 167, 33);
  // border: 2px solid $secondary;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 98%;

}

#submit-btn:hover {
  background: #fff;
  color: rgb(33, 167, 33);
  border: 2px solid rgb(33, 167, 33); 
  transition: .3s ease background;
}


.receipt-page {
  display: flex;
  flex-direction: row;
}

.Group {
  width: 400px;
  margin-left: 50px;
  margin-top: 40px;
}

.group-items {
  background-color: $fourth;
  width: 60%;
  color: white;
  border-radius: 5px;
  margin: 10px;
}

.group-items div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}